# Sample .env file. Rename this to just ".env" (it will be hidden) and update these values.
AWS_ACCESS_KEY_ID=AKIAVRUVPVU4Z3OMJHRY
AWS_SECRET_ACCESS_KEY=ju9k/6HluzGXwqMqiVlzXjgEuJEb4+kRU05KA91g
AWS_DEFAULT_REGION=eu-east-1
TABLE_NAME=PD-Table